In [1]:
import pandas as pd
df = pd.read_excel("dataupdate.xlsx" , sheet_name="weather")

In [2]:
# ได้ข้อมูล 5 แถวแรก
df.head()

         Day  Temperature  WindSpeed    Event
0 2020-12-01           30          9  แดดร้อน
1 2020-12-02           28          8   เมฆมาก
2 2020-12-03           27          4     ฝนตก
3 2020-12-04           19          3  แดดร้อน
4 2020-12-05           20          5   เมฆมาก

In [3]:
# .head(จำนวนข้อมูลที่อยากได้)
df.head(10)

         Day  Temperature  WindSpeed    Event
0 2020-12-01           30          9  แดดร้อน
1 2020-12-02           28          8   เมฆมาก
2 2020-12-03           27          4     ฝนตก
3 2020-12-04           19          3  แดดร้อน
4 2020-12-05           20          5   เมฆมาก
5 2020-12-06           25          6     ฝนตก
6 2020-12-07           36          4     ฝนตก
7 2020-12-08           28          6     ฝนตก
8 2020-12-09           17          5   เมฆมาก
9 2020-12-10           24          6  แดดร้อน

In [4]:
# 5 แถวสุดท้าย
df.tail()

          Day  Temperature  WindSpeed   Event
25 2020-12-26           25          8    ฝนตก
26 2020-12-27           28          9  เมฆมาก
27 2020-12-28           30          2  เมฆมาก
28 2020-12-29           31          1    ฝนตก
29 2020-12-30           35          2    ฝนตก

In [5]:
# .tail(จำนวนข้อมูลที่อยากได้)
df.tail(10)

          Day  Temperature  WindSpeed    Event
20 2020-12-21           25          5   เมฆมาก
21 2020-12-22           38          2   เมฆมาก
22 2020-12-23           34          3     ฝนตก
23 2020-12-24           29          4     ฝนตก
24 2020-12-25           34          5  แดดร้อน
25 2020-12-26           25          8     ฝนตก
26 2020-12-27           28          9   เมฆมาก
27 2020-12-28           30          2   เมฆมาก
28 2020-12-29           31          1     ฝนตก
29 2020-12-30           35          2     ฝนตก

In [6]:
# ทำการสุ่มข้อมูล โดยถ้าไม่ระบุจะสุ่มมาแค่ 1 ค่า
df.sample()

          Day  Temperature  WindSpeed   Event
13 2020-12-14           31          5  เมฆมาก

In [7]:
# ทำการสุ่มมา 5 ตัวอย่าง .sample(จำนวนที่ต้องการสุ่ม)
df.sample(5)

          Day  Temperature  WindSpeed    Event
2  2020-12-03           27          4     ฝนตก
16 2020-12-17           20          8     ฝนตก
18 2020-12-19           25          7  แดดร้อน
4  2020-12-05           20          5   เมฆมาก
22 2020-12-23           34          3     ฝนตก

In [8]:
# ดูข้อมูลทางสถิติ ไม่ว่าจะเป็น count , mean , min , 25% , 50% , 75 % , std = ส่วนเบี่ยงเบนมาตรฐาน , max , min
df.describe()

                       Day  Temperature  WindSpeed
count                   30    30.000000  30.000000
mean   2020-12-15 12:00:00    27.433333   5.066667
min    2020-12-01 00:00:00    17.000000   1.000000
25%    2020-12-08 06:00:00    25.000000   4.000000
50%    2020-12-15 12:00:00    28.000000   5.000000
75%    2020-12-22 18:00:00    30.000000   6.750000
max    2020-12-30 00:00:00    38.000000   9.000000
std                    NaN     5.237026   2.288402

In [9]:
# บอก (จำนวนเแถว , จำนวน columns)
df.shape

(30, 4)

In [10]:
# แสดง columns ออกมา
df.columns

Index(['Day', 'Temperature', 'WindSpeed', 'Event'], dtype='object')

In [11]:
# จะได้ก้อน array ที่เก็บข้อมูลใน dataFrame
df.values

array([[Timestamp('2020-12-01 00:00:00'), 30, 9, 'แดดร้อน'],
       [Timestamp('2020-12-02 00:00:00'), 28, 8, 'เมฆมาก'],
       [Timestamp('2020-12-03 00:00:00'), 27, 4, 'ฝนตก'],
       [Timestamp('2020-12-04 00:00:00'), 19, 3, 'แดดร้อน'],
       [Timestamp('2020-12-05 00:00:00'), 20, 5, 'เมฆมาก'],
       [Timestamp('2020-12-06 00:00:00'), 25, 6, 'ฝนตก'],
       [Timestamp('2020-12-07 00:00:00'), 36, 4, 'ฝนตก'],
       [Timestamp('2020-12-08 00:00:00'), 28, 6, 'ฝนตก'],
       [Timestamp('2020-12-09 00:00:00'), 17, 5, 'เมฆมาก'],
       [Timestamp('2020-12-10 00:00:00'), 24, 6, 'แดดร้อน'],
       [Timestamp('2020-12-11 00:00:00'), 26, 4, 'ฝนตก'],
       [Timestamp('2020-12-12 00:00:00'), 27, 9, 'แดดร้อน'],
       [Timestamp('2020-12-13 00:00:00'), 30, 2, 'แดดร้อน'],
       [Timestamp('2020-12-14 00:00:00'), 31, 5, 'เมฆมาก'],
       [Timestamp('2020-12-15 00:00:00'), 28, 4, 'แดดร้อน'],
       [Timestamp('2020-12-16 00:00:00'), 27, 7, 'แดดร้อน'],
       [Timestamp('2020-12-17 00:00:00'), 20, 8, 'ฝนตก'],
       [Timestamp('2020-12-18 00:00:00'), 18, 5, 'ฝนตก'],
       [Timestamp('2020-12-19 00:00:00'), 25, 7, 'แดดร้อน'],
       [Timestamp('2020-12-20 00:00:00'), 28, 4, 'เมฆมาก'],
       [Timestamp('2020-12-21 00:00:00'), 25, 5, 'เมฆมาก'],
       [Timestamp('2020-12-22 00:00:00'), 38, 2, 'เมฆมาก'],
       [Timestamp('2020-12-23 00:00:00'), 34, 3, 'ฝนตก'],
       [Timestamp('2020-12-24 00:00:00'), 29, 4, 'ฝนตก'],
       [Timestamp('2020-12-25 00:00:00'), 34, 5, 'แดดร้อน'],
       [Timestamp('2020-12-26 00:00:00'), 25, 8, 'ฝนตก'],
       [Timestamp('2020-12-27 00:00:00'), 28, 9, 'เมฆมาก'],
       [Timestamp('2020-12-28 00:00:00'), 30, 2, 'เมฆมาก'],
       [Timestamp('2020-12-29 00:00:00'), 31, 1, 'ฝนตก'],
       [Timestamp('2020-12-30 00:00:00'), 35, 2, 'ฝนตก']], dtype=object)

In [12]:
# หาค่า max โดย .columns .max
df.Temperature.max()

np.int64(38)

In [13]:
# หาค่า min
df.Temperature.min()

np.int64(17)

In [14]:
# หาค่า mean
df.Temperature.mean()

np.float64(27.433333333333334)

In [15]:
# หาค่าส่วนเบี่ยงเบนมาตรฐาน
df.Temperature.std()

np.float64(5.237025566255066)

In [16]:
# นับจำนวนข้อมูลใน Temperature
df.Temperature.count()

np.int64(30)

In [17]:
# sum ค่าทั้งหมด
df.Temperature.sum()

np.int64(823)

In [18]:
# ดู Type ข้อมูล
df.dtypes

Day            datetime64[ns]
Temperature             int64
WindSpeed               int64
Event                  object
dtype: object

In [19]:
# สามารถแปลง type columns ได้ อันนี้แปลงจาก int -> float
df.Temperature = df.Temperature.astype("float")
df.dtypes

Day            datetime64[ns]
Temperature           float64
WindSpeed               int64
Event                  object
dtype: object

In [20]:
# เลือกโดยอ้างอิงจาก " Columns " ข้อมูลเป็นช่วงของใน columns
df.Temperature[1:6]

1    28.0
2    27.0
3    19.0
4    20.0
5    25.0
Name: Temperature, dtype: float64

In [21]:
#  เลือกโดยอ้างอิงจาก " Columns " โดยเลือกข้อมูลออกมา 2 columns
df[["Temperature" , "Event"]]

    Temperature    Event
0          30.0  แดดร้อน
1          28.0   เมฆมาก
2          27.0     ฝนตก
3          19.0  แดดร้อน
4          20.0   เมฆมาก
5          25.0     ฝนตก
6          36.0     ฝนตก
7          28.0     ฝนตก
8          17.0   เมฆมาก
9          24.0  แดดร้อน
10         26.0     ฝนตก
11         27.0  แดดร้อน
12         30.0  แดดร้อน
13         31.0   เมฆมาก
14         28.0  แดดร้อน
15         27.0  แดดร้อน
16         20.0     ฝนตก
17         18.0     ฝนตก
18         25.0  แดดร้อน
19         28.0   เมฆมาก
20         25.0   เมฆมาก
21         38.0   เมฆมาก
22         34.0     ฝนตก
23         29.0     ฝนตก
24         34.0  แดดร้อน
25         25.0     ฝนตก
26         28.0   เมฆมาก
27         30.0   เมฆมาก
28         31.0     ฝนตก
29         35.0     ฝนตก

In [22]:
#  เลือกโดยอ้างอิงจาก " Columns " โดยเลือกข้อมูลออกมา 2 columns แบบ ระบุช่วง
df[["Temperature" , "Event"]][1:3]

   Temperature   Event
1         28.0  เมฆมาก
2         27.0    ฝนตก

In [23]:
# เลิอกโดยอ้างอิงจาก " ROW " เป็นการดึงข้อมูลโดยอิงจากแถวอันนี้เอามา 1 ถึง 3
# แต่ถ้าเขียนอย่างงี้จะดึงมาทุก columns
df[1:4]

         Day  Temperature  WindSpeed    Event
1 2020-12-02         28.0          8   เมฆมาก
2 2020-12-03         27.0          4     ฝนตก
3 2020-12-04         19.0          3  แดดร้อน

In [24]:
# การ .ชื่อ Columns ก็จะเอามาแค่ Columns นั้น
df[1:4].WindSpeed

1    8
2    4
3    3
Name: WindSpeed, dtype: int64

In [25]:
df = pd.read_excel("dataupdate.xlsx" , sheet_name="weather" , index_col="Day")
# df.loc[row_label][column_label]
# ปกติจะต้องอ้างอิงผ่านเลข index แต่ ฉันทำการแก้ให้ columns Day เป็น index แทนเลยทำแบบนี้ได้
df.loc["2020-12-02"]["Event"]

'เมฆมาก'

In [26]:
# ใช้ slice ในการทำให้สามารถดูตั้งแต่ วันที่ 02 -> 15
df.loc["2020-12-02":"2020-12-15"]["Event"]

Day
2020-12-02     เมฆมาก
2020-12-03       ฝนตก
2020-12-04    แดดร้อน
2020-12-05     เมฆมาก
2020-12-06       ฝนตก
2020-12-07       ฝนตก
2020-12-08       ฝนตก
2020-12-09     เมฆมาก
2020-12-10    แดดร้อน
2020-12-11       ฝนตก
2020-12-12    แดดร้อน
2020-12-13    แดดร้อน
2020-12-14     เมฆมาก
2020-12-15    แดดร้อน
Name: Event, dtype: object

In [ ]:
# ทำให้ค่าใน Event เป็น string ด้วยการ .str แล้ว .match(สิ่งที่ต้องการหา) ถ้า return true แปลว่ามีสิ่งนั้น
df.Event.str.match("ฝนตก")

Day
2020-12-01    False
2020-12-02    False
2020-12-03     True
2020-12-04    False
2020-12-05    False
2020-12-06     True
2020-12-07     True
2020-12-08     True
2020-12-09    False
2020-12-10    False
2020-12-11     True
2020-12-12    False
2020-12-13    False
2020-12-14    False
2020-12-15    False
2020-12-16    False
2020-12-17     True
2020-12-18     True
2020-12-19    False
2020-12-20    False
2020-12-21    False
2020-12-22    False
2020-12-23     True
2020-12-24     True
2020-12-25    False
2020-12-26     True
2020-12-27    False
2020-12-28    False
2020-12-29     True
2020-12-30     True
Name: Event, dtype: bool