In [ ]:
import pandas as pd
 # LIST
datas = [10,20,30,40,50]

In [ ]:
# สร้าง DataFrame แบบ LIST
df = pd.DataFrame(datas)

    0
0  10
1  20
2  30
3  40
4  50

In [3]:
# Tuple
datas_tp = (59,58,76,77)

In [5]:
# สร้าง DataFrame แบบ Tuple
df = pd.DataFrame(datas_tp)
df

    0
0  59
1  58
2  76
3  77

In [ ]:
# สร้าง DataFrame ตั้งชื่อ columns
cols = ["AGE"]
# Assign ชื่อ Columns ลงไป
df = pd.DataFrame(datas_tp , columns=cols)
df

   AGE
0   59
1   58
2   76
3   77

In [ ]:
# DataFrame แบบ หลายมิติ
data = [
    ["keyboard" , "Device" , 12000],
    ["Bear_TOY" , "TOY" , 900],
    ["Iphone 12" , "Device" , 30000]
]
new_df = pd.DataFrame(data)
new_df

           0       1      2
0   keyboard  Device  12000
1   Bear_TOY     TOY    900
2  Iphone 12  Device  30000

In [10]:
# ใส่ cols ให้กับ DataFrame แบบ หลายมิติ
new_df_cols = ["Product" , "Category" , "Price"]
new_df = pd.DataFrame(data , columns=new_df_cols)
new_df

     Product Category  Price
0   keyboard   Device  12000
1   Bear_TOY      TOY    900
2  Iphone 12   Device  30000

In [ ]:
# สร้าง DataFrame จาก List หลายตัวด้วย ZIP
product1 = ["keyboard" , "Device" , 12000]
product2 = ["Bear_TOY" , "TOY" , 900]
product3 = ["Iphone 12" , "Device" , 30000]

# ใช้ในการรวม list หลายๆอันเข้าด้วยกัน
datas = list(zip(product1 , product2 , product3))
df = pd.DataFrame(datas , columns=new_df_cols)
df
# ถ้าเขียนแบบนี้มันจะได้ ( ซึ่งมันจะเอา list เรียงแถวตรงลงไป ทำให้ไม่ถูก )
# Product	Category	Price
# keyboard	Bear_TOY	Iphone 12
# Device	TOY	        Device
# 12000	    900	        30000

    Product  Category      Price
0  keyboard  Bear_TOY  Iphone 12
1    Device       TOY     Device
2     12000       900      30000

In [ ]:
# ลักษณะข้อมูลต้องแบบนี้ เมื่อใช้ ZIP
product = ["keyboard" , "Bear_TOY" , "Iphone 12"]
category = [ "Device" , "TOY" ,"Device" ]
price = [ 12000, 900, 30000]
datas = list(zip(product ,category , price))
df = pd.DataFrame(datas , columns=new_df_cols)
df

     Product Category  Price
0   keyboard   Device  12000
1   Bear_TOY      TOY    900
2  Iphone 12   Device  30000

In [32]:
# สร้าง DataFrame แบบ Dict
product = [
    {"Name":"keyboard" ,"category":"Device" , "price":100},
    {"Name":"Art_Toy" ,"category":"Toy" , "price":200},
    {"Name":"Iphone 12" ,"category":"Device" , "price":300},
    {"Name":"Art_Toy" ,"category":"Toy" , "price":200},
]
# key จะเป็นตัวหัวตารางเป็น columns
# Values จะเป็น แถว
# จะได้หน้าตาแบบนี้
#   Name	    category	price
# 0 keyboard	Device	    100
# 1 Art_Toy	    Toy	        200
# 2 Iphone 12	Device	    300
df = pd.DataFrame(product)

In [33]:
# set Column Name ให้กลายเป็น Index ไปเลยแต่ถ้า เขียน df ก็จะยังมี index ติดอยู่วิธีแก้
df.set_index(["Name"])

# วิธีแก้ index ที่ยังอยู่ใน df ให้ inplace=True ทับ dataFrame ตัวเดิม
df.set_index(["Name"] , inplace=True)
df

          category  price
Name
keyboard    Device    100
Art_Toy        Toy    200
Iphone 12   Device    300
Art_Toy        Toy    200

In [ ]:
# สร้าง Series ใน Data Frame
name = ["keyboard" , "mouse" , "Bear"]
category = ["Device" , "Device" , "Toy"]
price = [500,300,400]

# แปลง list -> Series
name_series = pd.Series(name)
category_series = pd.Series(category)
price_series = pd.Series(price)

In [ ]:
# สร้าง Drict map หัวตาราง กับ ตัวข้อมูล
frame = {"ชื่อสินค้า":name_series , "หมวดหมู่":category_series , "ราคา":price_series}

In [43]:
df = pd.DataFrame(frame)
df

  ชื่อสินค้า หมวดหมู่  ราคา
0   keyboard   Device   500
1      mouse   Device   300
2       Bear      Toy   400

In [ ]:
# Export dataFrame ไป เป็นไฟล์ csv โดยมันจะ Export ไฟล์ไปยังไฟล์ที่ทำงานอยู่
# header = True คือ เอา หัวตารางด้วย
# index = False คือ ไม่เอาเลขหน้า
df.to_csv("product.csv" , header=True , index=False)